.App {
  overflow: hidden;
  text-align: center;
  background-color: #dcd8d8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.brazil {
  height: 54px;
  position: absolute;
  left: 34%;
  top: 70%;
  cursor: pointer;
  transition: .2s;
  /* Animation */
}

.usa {
  height: 54px;
  position: absolute;
  left: 20%;
  top: 40%;
  cursor: pointer;
  transition: .2s;
  /* Animation */
}

.india {
  height: 54px;
  position: absolute;
  right: 28.5%;
  bottom: 43%;
  cursor: pointer;
  transition: .2s;
  /* Animation */
}

.brazil:hover, .india:hover, .usa:hover {
  transform: scale(5);
}