.logo {
    cursor: pointer;
    height: 54px;
    position: absolute;
    bottom: 2%;
    left: 1%;
}

.globo {
    cursor: pointer;
    position: absolute;
    height: 54px;
    bottom: 2%;
    left: 120px;
}