.modal {
    p {
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: #3953A4;
        }
    }
}

.valorTarget {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    color: darkred;
    bottom: 0;
    right: 10%;
}